<div class="jumbotron no-bottom">
  <div class="show-books container">
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <p class="swing-image">
          <%= image_tag @book.picture %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <h3>Title:</h3>
          <%= @book.title %>
        </p>
        <p>
          <h3>Author:</h3>
          <%= @book.author %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <p>
          <h3>Description:</h3>
          <%= @book.description %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="link-placement col-md-7 col-md-offset-3">
        <div class="forms">
          <%= render partial: 'form2' if current_user %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="link-placement col-md-7 col-md-offset-3">
        <%= link_to 'Back', books_path %>
      </div>
    </div>
  </div>
</div>